@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis.ttf");
  font-display: swap;
}

:root {
  --item-bg-color: #0276c4;
  --item-text-color: white;
  --item-done-bg-color: #525252;
  --menu-item-bg: #005b97;
}

html,
body {
  font-family: "Dosis", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #7c7c7c;
}

#content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  font-size: 14px;
  min-height: 50px;
  color: var(--item-text-color);
  background-color: var(--item-bg-color);
  cursor: pointer;
  box-shadow: 0 0 0 1px var(--item-text-color), 0 0 3px 1px black;
  margin: 5px 10px 5px 10px;
  padding: 3px 7px 3px 7px;
  border-radius: 5px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  user-select: none;
}

.card-title {
  font-size: 14px;
  text-decoration: underline;
}

.card-note {
  font-size: 18px;
}

.card-done {
  color: var(--item-done-bg-color);
  box-shadow: 0 0 0 1px var(--item-done-bg-color), 0 0 3px 1px black;
  text-decoration: line-through;
}

.list-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--item-bg-color);
  color: var(--item-text-color);
  width: 100%;
  min-height: 30px;
  padding: 5px;
  box-shadow: 0 0 3px 1px black;
  margin-bottom: 10px;
}

.menu-item {
  background-color: var(--menu-item-bg);
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  height: 20px;
  margin: 3px 5px 3px 5px;
  box-shadow: 0 0 3px 1px black;
}

.menu-item:active {
  box-shadow: 0 0 0 1px black;
}

.list-add {
  display: none;
  background-color: var(--item-bg-color);
  color: var(--item-text-color);
  margin-top: -10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px 1px black;
}

.add-open {
  display: flex;
}

.list-add-item {
  margin: 5px 10px 5px 10px;
}

.btn {
  background-color: var(--menu-item-bg);
  border-radius: 3px;
  box-shadow: 0 0 3px 1px black;
  padding: 2px 5px 2px 5px;
  margin: 3px 5px 3px 5px;
  cursor: pointer;
  user-select: none;
}

.btn:active {
  box-shadow: 0 0 0 1px black;
}

.input {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  width: 160px;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 0 1px black;
  padding: 3px;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 1px white;
}
