@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis.ttf");
}

html,
body {
  font-family: "Dosis", sans-serif;
  padding: 0;
  margin: 0;
  background-color: black;
}

#content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  font-size: 14px;
  min-height: 50px;
  color: white;
  background-color: rgb(68, 68, 68);
  cursor: pointer;
  box-shadow: 0 0 0 1px white;
  margin: 5px 10px 5px 10px;
  padding: 3px 7px 3px 7px;
  border-radius: 5px;
}

.card-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  user-select: none;
}

.card-wrap:hover {
  margin-right: -10px;
}

.card-wrap:hover .card-toolbar {
  display: contents;
}

.card-title {
  font-size: 14px;
  text-decoration: underline;
}

.card-note {
  font-size: 18px;
}

.card-toolbar {
  display: none;
}

.card-done {
  color: rgb(120, 120, 120);
  box-shadow: 0 0 0 1px rgb(120, 120, 120);
  text-decoration: line-through;
}

.card-delete-btn {
  position: relative;
  display: inline;
  right: 28px;
  top: 5px;
  background-color: rgb(220, 80, 60);
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  font-family: "Dosis", sans-serif;
  margin: 0;
  box-shadow: 0 0 0 1px white;
  cursor: pointer;
}

.move-up-btn {
  position: relative;
  transform: rotate(-90deg);
  color: white;
  top: 5px;
  right: 20px;
  font-size: 20px;
  margin: 0;
  cursor: pointer;
}

.move-down-btn {
  position: relative;
  transform: rotate(90deg);
  color: white;
  top: 35px;
  right: 28px;
  font-size: 20px;
  margin: 0;
  cursor: pointer;
}

.move-done {
    color: rgb(120, 120, 120);
}

.card-delete-btn:active {
  box-shadow: inset 0 0 1px 0.5px black;
}

.delete-btn-done {
  box-shadow: 0 0 0 1px rgb(120, 120, 120);
}
