@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis.ttf");
  font-display: swap;
}

:root {
  --item-bg-color: #0276c4;
  --item-text-color: white;
  --item-done-bg-color: #525252;
  --menu-item-bg: #005b97;
}

html,
body {
  font-family: "Dosis", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #7c7c7c;
}

#content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  font-size: 14px;
  min-height: 50px;
  color: var(--item-text-color);
  background-color: var(--item-bg-color);
  cursor: pointer;
  box-shadow: 0 0 0 1px var(--item-text-color), 0 0 3px 1px black;
  margin: 5px 10px 5px 10px;
  padding: 3px 7px 3px 7px;
  border-radius: 5px;
}

.card-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  user-select: none;
}

.card-wrap:hover {
  margin-right: -10px;
}

.card-wrap:hover .card-toolbar {
  display: contents;
}

.card-title {
  font-size: 14px;
  text-decoration: underline;
}

.card-note {
  font-size: 18px;
}

.card-toolbar {
  display: none;
}

.card-toolbar-touch {
  display: contents;
}

.card-done {
  color: var(--item-done-bg-color);
  box-shadow: 0 0 0 1px var(--item-done-bg-color), 0 0 3px 1px black;
  text-decoration: line-through;
}

.card-delete-btn {
  position: relative;
  display: inline;
  right: 28px;
  top: 5px;
  width: 18px;
  height: 18px;
  background-color: rgb(220, 80, 60);
  color: var(--item-text-color);
  border: none;
  border-radius: 3px;
  font-size: 12px;
  font-family: "Dosis", sans-serif;
  margin: 0;
  box-shadow: 0 0 0 1px var(--item-text-color);
  cursor: pointer;
}

.move-up-btn {
  position: relative;
  transform: rotate(-90deg);
  color: var(--item-text-color);
  top: 5px;
  right: 20px;
  font-size: 20px;
  margin: 0;
  cursor: pointer;
}

.move-down-btn {
  position: relative;
  transform: rotate(90deg);
  color: var(--item-text-color);
  top: 35px;
  right: 28px;
  font-size: 20px;
  margin: 0;
  cursor: pointer;
}

.move-done {
  color: #d4d4d4;
}

.card-delete-btn:active {
  box-shadow: inset 0 0 1px 0.5px black;
}

.delete-btn-done {
  box-shadow: 0 0 0 1px var(--item-done-bg-color);
}

.list-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--item-bg-color);
  color: var(--item-text-color);
  width: 100%;
  min-height: 30px;
  padding: 5px;
  box-shadow: 0 0 3px 1px black;
  margin-bottom: 10px;
}

.menu-item {
  background-color: var(--menu-item-bg);
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  height: 20px;
  margin: 3px 5px 3px 5px;
  box-shadow: 0 0 3px 1px black;
}

.menu-item:active {
  box-shadow: 0 0 0 1px black;
}
